<br><br>

<nav class=" navbar navbar-light bg-light">
    &nbsp; &nbsp;  &nbsp; &nbsp;
    <button class="btn btn-light" (click)="gotoDeals()" routerLinkActive="active" routerLink="/deals" >Deals</button>
    &nbsp; &nbsp;  &nbsp; &nbsp;
    <button class="btn btn-light" (click)="gotoActivities()" routerLinkActive="active" routerLink="/activities">Activities</button>
    &nbsp; &nbsp;  &nbsp; &nbsp;
    <button class="btn btn-light" (click)="gotoStatistics()" routerLinkActive="active" routerLink="/statistics">Statistics</button>
    
</nav>
<router-outlet></router-outlet>